<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ps.comunio" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Comunio"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Menuss"
            android:label="Comunio"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DatosJugador"
            android:label="@string/title_activity_datos_jugador"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Ajustes"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".testingbbdd"
            android:label="@string/title_activity_testingbbdd" >

        </activity>
    </application>

</manifest>
